
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

b, strong {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  padding: 0;
  color: #191920;
  font-size: 13px;
  background-color: #fff;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;

  a {
    color: #3D57C8;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .button {
    cursor: pointer;
    cursor: hand;
    width: auto;
    color: #fff;
    text-align: middle;
    outline: none;
    border: 1px solid #3E76D0;
    background-color: #4B8EFA;

    &:hover {
      background-color: #3F83F1;
    }
  }

  .link {
    cursor: pointer;
    cursor: hand;
    color: #3D57C8;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .margin-top-10 {
    margin-top: 10px;
  }

  .margin-bottom-10 {
    margin-bottom: 10px;
  }

  .clr, .clear {
    clear: both;
  }

  .hide, .hidden {
    display: none;
  }

  .inline-block {
    display: inline-block;
  }

  .cursor-pointer {
    cursor: pointer;
    cursor: hand;
  }

  .required-star {
    color: #ef3f6c;
  }
}

/* Container styles */
.container {
  clear: both;
  position: relative;
  width: 100%;
  min-width: 990px;
  margin: 0;
  padding: 0;
}

.content-module {
  position: relative;
  width: 980px;
  height: auto;
  margin: 0 auto;
  padding: 0;
  border-left: 1px solid #E2D57C;
  border-right: 1px solid #E2D57C;
  background-color: #fff;

  .module-frame {
    padding: 0;
  }
}

.text-header {
  position: relative;
  width: 980px;
}

.item-box {
  margin-bottom: 10px;
  border: 1px solid #C3C3C8; 
  background-color: #fff;
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
div.field-item{position:relative;}
div.field-item span.default-value{cursor:text;position:absolute;color:#b7b6ba;}

.goto-top{ cursor:pointer; cursor:hand; position:fixed; bottom:20px; right:10px; width:75px; padding-top:35px; text-align:center; font-size:11px; font-weight:bold; background-image:url('/images/self/go-to-top.png'); background-repeat:no-repeat; background-position:25px 5px; }
.goto-top:hover{ color:#ccc; background-position:25px 4px; }

body{
	background-color:#FCF1A7;
	background-repeat:repeat;
}

#header{
	padding:0;
}
#header .content-module{
	height:122px;
	border-left:1px solid #A77515;
	border-right:1px solid #A77515;
	background-color:#D59315;
	background-image:url('../images/bintec-name.png');
	background-repeat:no-repeat;
	background-position:190px 44px;
}
#header .content-module .logo{
	position:absolute;
	top:15px;
	left:15px;
}

#navigator .content-module{
	width:986px;
	border:1px solid #C02820;
	background-color:#F12D23;
	-moz-border-radius:3px; 
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
}
#navigator .nav-items-list{
	padding-left:10px;
}
#navigator .nav-items-list a{
	float:left;
	padding:8px 30px;
	margin:0 10px 0 0;
	color:#f9f9fa;
	font-size:14px;
	font-weight:normal;
	letter-spacing:0.06em;
	border:2px solid transparent;
	-moz-border-radius:3px; 
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
}
#navigator .nav-items-list a:hover{
	text-decoration:none;
	border-color:#C02820;
	background-color:#ED4941;
}
#navigator .nav-items-list a.active{
	color:#f9f9f9;
	border-color:#970A08;
	background-color:#C02820;
}
#navigator .contact-number{
	cursor:default;
	position:absolute;
	right:10px;
	padding-left:20px;
	font-size:14px;
	color:#fff;
	background-repeat:no-repeat;
	background-position:0 2px;
}
#navigator .telephone-number{
	top:0;
	background-image:url('../images/phone.png');
}
#navigator .fax-number{
	bottom:0;
	background-image:url('../images/print.png');
}

#slideshow-grid-items .content-module{
	margin-top:10px;
	margin-bottom:10px;
	border:none;
	background:none;
}
#slideshow-grid-items .grid-item{
	float:left;
	margin-left:20px;
	border:1px solid #C5B615;
}
#slideshow-grid-items .first-grid-item{
	margin-left:0;
}
#slideshow-grid-items .grid-item img{
	max-width:230px;	
	max-height:200px;	
}
#slideshow-grid-items .grid-item .description{
	cursor:default;
	padding:10px;
	font-size:13px;
	border-top:1px solid #C5B615;
	background-color:#fff;
}
#slideshow-grid-items .grid-item .description .d-title{
	font-size:13px;
	font-weight:bold;
}

#content-container .content-module{
	margin-bottom:10px;
	padding-top:12px;
	padding-bottom:12px;
	border-top:1px solid #E2D57C;
	border-bottom:1px solid #E2D57C;
	background-color:#f7f7f8;
	-moz-border-radius:3px; 
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
}
#content-container .left-main-block{
	float:left;
	width:666px;
	padding:0 12px;
}
#content-container .left-side-block{
	float:left;
	width:268px;
	padding-left:12px;
}
#content-container .right-side-block{
	float:right;
	width:268px;
	padding-right:12px;
}
#content-container .left-main-block .slide-show-area{
	height:250px;
	padding:0;
	border:3px solid #111;
}
#content-container .left-main-block .page-title{
	padding:18px 0;
	margin-bottom:10px;
	font-size:21px;
	font-weight:normal;
	border-bottom:1px solid #dededf;
}
#content-container .left-main-block .page-title .spl-text{
	color:#CE3330;
}
#content-container .left-main-block .inner-title{
	font-size:15px;
	font-weight:bold;
	color:#CE3330;
}
#content-container .left-main-block img{
	max-width:660px;
}
#content-container .left-main-block p{
	padding-bottom:10px;
	text-align:justify;
	font-size:13px;
	line-height:20px;
}
#content-container .left-main-block a.readmore-button{
	float:right;
	padding:0 5px;
	-moz-border-radius:3px; 
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
}
#content-container .left-main-block a.readmore-button:hover{
	text-decoration:none;
}
#content-container .left-main-block table.principals-table{
	width:100%;
}
#content-container .left-main-block table.principals-table td{
	padding:10px 0;
}
#content-container .left-main-block table.principals-table td.p-logo{
	width:180px;
	vertical-align:middle;
}
#content-container .left-main-block table.principals-table td.p-logo .logo-box{
	width:180px;
	padding:15px;
	text-align:center;
	border:3px solid #ccc;
	background-color:#fff;
}
#content-container .left-main-block table.principals-table td.p-logo img{
	max-width:180px;
	max-height:100px;
}
#content-container .left-main-block table.principals-table td.p-details{
	vertical-align:top;
	padding-left:10px;
	padding-right:20px;
	padding-top:15px;
	text-align:justify;
}
#content-container .left-main-block table.clients-table{
	width:100%;
}
#content-container .left-main-block table.clients-table td{
	padding:5px 0;
}
#content-container .left-main-block table.clients-table td.c-logo{
	width:180px;
	vertical-align:middle;
}
#content-container .left-main-block table.clients-table td.c-logo .logo-box{
	width:180px;
	padding:3px 15px;
	text-align:center;
	border:3px solid #ccc;
	background-color:#fff;
}
#content-container .left-main-block table.clients-table td.c-logo img{
	max-width:180px;
	max-height:100px;
}
#content-container .left-main-block table.clients-table td.c-details{
	vertical-align:middle;
	padding-left:10px;
	padding-right:20px;
	text-align:justify;
}
#content-container .left-side-block .company-images{
	text-align:center;
	padding-top:15px;
	padding-bottom:15px;
}
#content-container .left-side-block .company-images img{
	border:3px solid #111112;
}
#content-container .block-content{
	padding:10px;
	margin-bottom:10px;
	border:1px solid #DDDDDA;
	background-color:#fff;
}
#content-container .block-content .content-title{
	padding-bottom:10px;
	font-size:13px;
	font-weight:bold;
	color:#292930;
	border-bottom:1px solid #DDDDDA;
}
#content-container .block-content .content-data{
	padding-top:10px;
}
#content-container .block-content .content-data img{
	max-width:245px;
}
#content-container .block-content .company-address{
	line-height:22px;
}
#content-container .block-content .company-address .company-name{
	color:#CD2725;
	font-weight:bold;
}

#principal-slider .content-module{
	margin-bottom:10px;
	padding:2px;
	border:1px solid #C5B615;
	background-color:#FCF1A7;
	-moz-border-radius:3px; 
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
}
#principal-slider .content-module .slider-box-area{
	padding:10px;
	border:1px solid #C5B615;
	background-color:#fff;
	-moz-border-radius:3px; 
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
}
#principal-slider .principal-logo{
	max-height:90px;
	margin-right:15px;
	border:none;
	background-color:#fff;
}

#footer .content-module{
	width:960px;
	padding:15px 10px;
	margin-bottom:15px;
	border-top:1px solid #E2D57C;
	border-bottom:1px solid #E2D57C;
	-moz-border-radius:3px; 
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	border-radius:3px;
}
#footer .menu-list{
	text-align:center;
	font-size:15px;
}
#footer .menu-list a{
	display:inline-block;
	margin-right:50px;
	color:#CE2624;
}
#footer .copyright-info{
	text-align:center;
	padding-top:15px;
	color:#6F6F75;
}

